In [76]:
import pandas as pd
import numpy as np

In [77]:
df = pd.read_csv("C:\\Users\\LOQ\\Documents\\PYTHON\\Library\\Scikit Learn\\crime_dataset_india.csv")
df.head()

,Report Number,Date Reported,Date of Occurrence,Time of Occurrence,City,Crime Code,Crime Description,Victim Age,Victim Gender,Weapon Used,Crime Domain,Police Deployed,Case Closed,Date Case Closed
0,1,02-01-2020 00:00,01-01-2020 00:00,01-01-2020 01:11,Ahmedabad,576,IDENTITY THEFT,16,M,Blunt Object,Violent Crime,13,No,NaN
1,2,01-01-2020 19:00,01-01-2020 01:00,01-01-2020 06:26,Chennai,128,HOMICIDE,37,M,Poison,Other Crime,9,No,NaN
2,3,02-01-2020 05:00,01-01-2020 02:00,01-01-2020 14:30,Ludhiana,271,KIDNAPPING,48,F,Blunt Object,Other Crime,15,No,NaN
3,4,01-01-2020 05:00,01-01-2020 03:00,01-01-2020 14:46,Pune,170,BURGLARY,49,F,Firearm,Other Crime,1,Yes,29-04-2020 05:00
4,5,01-01-2020 21:00,01-01-2020 04:00,01-01-2020 16:51,Pune,421,VANDALISM,30,F,Other,Other Crime,18,Yes,08-01-2020 21:00

In [78]:
df.isna().sum()

Report Number             0
Date Reported             0
Date of Occurrence        0
Time of Occurrence        0
City                      0
Crime Code                0
Crime Description         0
Victim Age                0
Victim Gender             0
Weapon Used            5790
Crime Domain              0
Police Deployed           0
Case Closed               0
Date Case Closed      20098
dtype: int64

In [79]:
df['Weapon Used'] = df['Weapon Used'].fillna('Unknown')
df = df.drop(['Date Case Closed', 'Police Deployed', 'Date Reported', 'Date Reported'],axis=1)

In [80]:
df.isna().sum()

Report Number         0
Date of Occurrence    0
Time of Occurrence    0
City                  0
Crime Code            0
Crime Description     0
Victim Age            0
Victim Gender         0
Weapon Used           0
Crime Domain          0
Case Closed           0
dtype: int64

In [81]:
df.columns

Index(['Report Number', 'Date of Occurrence', 'Time of Occurrence', 'City',
       'Crime Code', 'Crime Description', 'Victim Age', 'Victim Gender',
       'Weapon Used', 'Crime Domain', 'Case Closed'],
      dtype='object')

In [82]:
df['Date of Occurrence'] = pd.to_datetime(df['Date of Occurrence'])

In [88]:
df['Time of Occurrence'] = pd.to_datetime(df['Time of Occurrence'], dayfirst=True)

In [89]:
df['Hour'] = df['Time of Occurrence'].dt.hour
df['Minute'] = df['Time of Occurrence'].dt.minute
df['TotalMinutes'] = df['Hour'] * 60 + df['Minute']
df['Time_sine'] = np.sin(2 * np.pi * df['TotalMinutes'] / 1440)
df['Time_cos'] = np.cos(2 * np.pi * df['TotalMinutes'] / 1440)

In [90]:
df['Year'] = df['Date of Occurrence'].dt.year
df['Month'] = df['Date of Occurrence'].dt.month
df['Day'] = df['Date of Occurrence'].dt.day
df['DayOfWeek'] = df['Date of Occurrence'].dt.dayofweek
df['Month_sine'] = np.sin(2 * np.pi * df['Month'] / 12)
df['Month_cos'] = np.cos(2 * np.pi * df['Month'] / 12)
df['DoW_sine'] = np.sin(2 * np.pi * df['DayOfWeek'] / 7)
df['DoW_cos'] = np.cos(2 * np.pi * df['DayOfWeek'] / 7)

In [91]:
df.head()

,Report Number,Date of Occurrence,Time of Occurrence,City,Crime Code,Crime Description,Victim Age,Victim Gender,Weapon Used,Crime Domain,...,Time_sine,Time_cos,Year,Month,Day,DayOfWeek,Month_sine,Month_cos,DoW_sine,DoW_cos
0,1,2020-01-01 00:00:00,2020-01-01 01:11:00,Ahmedabad,576,IDENTITY THEFT,16,M,Blunt Object,Violent Crime,...,0.304864,0.952396,2020,1,1,2,0.5,0.866025,0.974928,-0.222521
1,2,2020-01-01 01:00:00,2020-01-01 06:26:00,Chennai,128,HOMICIDE,37,M,Poison,Other Crime,...,0.993572,-0.113203,2020,1,1,2,0.5,0.866025,0.974928,-0.222521
2,3,2020-01-01 02:00:00,2020-01-01 14:30:00,Ludhiana,271,KIDNAPPING,48,F,Blunt Object,Other Crime,...,-0.608761,-0.793353,2020,1,1,2,0.5,0.866025,0.974928,-0.222521
3,4,2020-01-01 03:00:00,2020-01-01 14:46:00,Pune,170,BURGLARY,49,F,Firearm,Other Crime,...,-0.662620,-0.748956,2020,1,1,2,0.5,0.866025,0.974928,-0.222521
4,5,2020-01-01 04:00:00,2020-01-01 16:51:00,Pune,421,VANDALISM,30,F,Other,Other Crime,...,-0.955020,-0.296542,2020,1,1,2,0.5,0.866025,0.974928,-0.222521

In [92]:
df = df.drop(['Date of Occurrence', 'Time of Occurrence', 'Hour', 'Minute', 'TotalMinutes', 'Year', 'Month', 'Day', 'DayOfWeek'], axis=1)

In [93]:
df.head()

,Report Number,City,Crime Code,Crime Description,Victim Age,Victim Gender,Weapon Used,Crime Domain,Case Closed,Time_sine,Time_cos,Month_sine,Month_cos,DoW_sine,DoW_cos
0,1,Ahmedabad,576,IDENTITY THEFT,16,M,Blunt Object,Violent Crime,No,0.304864,0.952396,0.5,0.866025,0.974928,-0.222521
1,2,Chennai,128,HOMICIDE,37,M,Poison,Other Crime,No,0.993572,-0.113203,0.5,0.866025,0.974928,-0.222521
2,3,Ludhiana,271,KIDNAPPING,48,F,Blunt Object,Other Crime,No,-0.608761,-0.793353,0.5,0.866025,0.974928,-0.222521
3,4,Pune,170,BURGLARY,49,F,Firearm,Other Crime,Yes,-0.662620,-0.748956,0.5,0.866025,0.974928,-0.222521
4,5,Pune,421,VANDALISM,30,F,Other,Other Crime,Yes,-0.955020,-0.296542,0.5,0.866025,0.974928,-0.222521

In [94]:
df = df.drop(['Case Closed', 'Report Number'], axis=1)

In [95]:
df.isna().sum()

City                 0
Crime Code           0
Crime Description    0
Victim Age           0
Victim Gender        0
Weapon Used          0
Crime Domain         0
Time_sine            0
Time_cos             0
Month_sine           0
Month_cos            0
DoW_sine             0
DoW_cos              0
dtype: int64

In [96]:
df.head()

,City,Crime Code,Crime Description,Victim Age,Victim Gender,Weapon Used,Crime Domain,Time_sine,Time_cos,Month_sine,Month_cos,DoW_sine,DoW_cos
0,Ahmedabad,576,IDENTITY THEFT,16,M,Blunt Object,Violent Crime,0.304864,0.952396,0.5,0.866025,0.974928,-0.222521
1,Chennai,128,HOMICIDE,37,M,Poison,Other Crime,0.993572,-0.113203,0.5,0.866025,0.974928,-0.222521
2,Ludhiana,271,KIDNAPPING,48,F,Blunt Object,Other Crime,-0.608761,-0.793353,0.5,0.866025,0.974928,-0.222521
3,Pune,170,BURGLARY,49,F,Firearm,Other Crime,-0.662620,-0.748956,0.5,0.866025,0.974928,-0.222521
4,Pune,421,VANDALISM,30,F,Other,Other Crime,-0.955020,-0.296542,0.5,0.866025,0.974928,-0.222521

In [97]:
df['Crime Description'].unique()

array(['IDENTITY THEFT', 'HOMICIDE', 'KIDNAPPING', 'BURGLARY',
       'VANDALISM', 'ASSAULT', 'VEHICLE - STOLEN', 'COUNTERFEITING',
       'EXTORTION', 'PUBLIC INTOXICATION', 'FRAUD', 'SEXUAL ASSAULT',
       'DRUG OFFENSE', 'ARSON', 'CYBERCRIME', 'TRAFFIC VIOLATION',
       'SHOPLIFTING', 'ILLEGAL POSSESSION', 'FIREARM OFFENSE', 'ROBBERY',
       'DOMESTIC VIOLENCE'], dtype=object)

In [98]:
df['Crime Code'].unique()

array([576, 128, 271, 170, 421, 442, 172, 169, 338, 497, 260, 563, 498,
       436, 266, 357, 509, 342, 480, 369, 251, 374, 507, 322, 527, 282,
       247, 489, 387, 517, 570, 222, 319, 575, 341, 396, 187, 280, 487,
       154, 148, 583, 300, 297, 555, 139, 561, 573, 211, 312, 548, 596,
       188, 110, 449, 352, 196, 359, 495, 259, 289, 409, 306, 420, 469,
       292, 512, 244, 269, 524, 404, 191, 229, 197, 305, 150, 542, 438,
       345, 108, 219, 510, 597, 272, 413, 355, 523, 486, 455, 515, 566,
       419, 250, 417, 464, 500, 183, 270, 184, 353, 235, 287, 257, 537,
       277, 321, 432, 129, 347, 127, 117, 339, 111, 331, 295, 309, 465,
       406, 278, 569, 445, 113, 165, 514, 262, 558, 157, 241, 311, 248,
       238, 109, 448, 588, 236, 589, 492, 234, 470, 518, 245, 144, 134,
       584, 541, 133, 422, 151, 415, 268, 381, 249, 389, 562, 316, 367,
       471, 365, 484, 427, 340, 246, 376, 439, 598, 239, 267, 163, 572,
       336, 218, 276, 307, 153, 190, 429, 547, 136, 254, 105, 418, 466,
       402, 388, 423, 399, 293, 164, 182, 362, 123, 233, 581, 230, 366,
       145, 142, 261, 152, 430, 203, 508, 590, 491, 586, 350, 546, 115,
       410, 217, 189, 180, 215, 481, 577, 212, 363, 550, 568, 199, 513,
       256, 390, 206, 126, 431, 528, 494, 395, 560, 361, 106, 330, 446,
       503, 526, 344, 506, 358, 534, 225, 574, 477, 167, 101, 356, 559,
       385, 343, 168, 205, 226, 328, 224, 502, 227, 511, 392, 213, 286,
       552, 103, 456, 349, 587, 102, 159, 210, 454, 118, 243, 324, 161,
       378, 120, 567, 505, 522, 371, 532, 237, 539, 176, 557, 232, 467,
       368, 298, 242, 556, 571, 253, 551, 192, 283, 398, 284, 281, 441,
       208, 354, 462, 594, 426, 412, 201, 296, 380, 288, 529, 444, 401,
       580, 408, 485, 334, 372, 360, 520, 131, 428, 460, 252, 137, 407,
       403, 564, 265, 273, 186, 337, 195, 181, 536, 384, 377, 351, 290,
       585, 458, 474, 461, 264, 386, 333, 299, 320, 452, 202, 375, 397,
       425, 459, 313, 501, 329, 400, 220, 391, 379, 325, 382, 221, 303,
       447, 544, 174, 538, 158, 593, 453, 592, 301, 302, 149, 599, 530,
       125, 433, 317, 414, 193, 173, 204, 146, 107, 411, 383, 258, 435,
       543, 155, 405, 479, 493, 525, 263, 160, 315, 476, 545, 119, 121,
       451, 318, 475, 370, 255, 179, 304, 499, 207, 535, 100, 549, 274,
       124, 275, 132, 294, 310, 323, 483, 516, 348, 531, 114, 504, 488,
       565, 156, 198, 582, 393, 440, 231, 521, 138, 463, 240, 130, 140,
       141, 424, 175, 373, 116, 472, 122, 554, 147, 457, 143, 579, 327,
       437, 166, 416, 112, 171, 595, 490, 216, 346, 496, 194, 533, 450,
       162, 540, 591, 468, 185, 578, 335, 332, 279, 223, 178, 519, 228,
       314, 482, 291, 214, 209, 326, 478, 308, 553, 394, 104, 200, 177,
       135, 364, 434, 443, 285, 473])

In [99]:
df['Crime Description'].nunique()

21

In [100]:
df['Crime Code'].nunique()

500

In [101]:
df.head()

,City,Crime Code,Crime Description,Victim Age,Victim Gender,Weapon Used,Crime Domain,Time_sine,Time_cos,Month_sine,Month_cos,DoW_sine,DoW_cos
0,Ahmedabad,576,IDENTITY THEFT,16,M,Blunt Object,Violent Crime,0.304864,0.952396,0.5,0.866025,0.974928,-0.222521
1,Chennai,128,HOMICIDE,37,M,Poison,Other Crime,0.993572,-0.113203,0.5,0.866025,0.974928,-0.222521
2,Ludhiana,271,KIDNAPPING,48,F,Blunt Object,Other Crime,-0.608761,-0.793353,0.5,0.866025,0.974928,-0.222521
3,Pune,170,BURGLARY,49,F,Firearm,Other Crime,-0.662620,-0.748956,0.5,0.866025,0.974928,-0.222521
4,Pune,421,VANDALISM,30,F,Other,Other Crime,-0.955020,-0.296542,0.5,0.866025,0.974928,-0.222521

In [102]:
df.to_csv("crime.csv",index=False)